<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Dados do Usuário</ion-title>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-avatar>
        <img src="https://i.pravatar.cc/150?img={{ usuario.id }}">
      </ion-avatar>
      <ion-label>{{ usuario.nome | titlecase }}</ion-label>
      <ion-button fill="outline" slot="end" (click)="returnLastPage()">Voltar</ion-button>
    </ion-item>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nascimento: {{ usuario.dataNascimento}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Email: {{ usuario.email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>CPF: {{ usuario.cpf }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>